
<!-- navbar header -->
<div class="navbar-header box-shadow {{app.settings.navbarCollapseColor}}">
	<embed src="views/img/logo.svg" width="160" type="image/svg+xml"
		pluginspage="http://www.adobe.com/svg/viewer/install/" />
</div>
<!-- / navbar header -->

<!-- navbar collapse -->
<div ng-controller="HeaderController"
	class="collapse pos-rlt navbar-collapse box-shadow {{app.settings.navbarCollapseColor}}">
	<!-- buttons -->
	<div class="nav navbar-nav hidden-xs">
		<a href class="btn no-shadow navbar-btn"
			ng-click="app.settings.asideFolded = !app.settings.asideFolded">
			<i
			class="fa {{app.settings.asideFolded ? 'fa-indent' : 'fa-dedent'}} fa-fw"></i>
		</a>
		<!--           <a href class="btn no-shadow navbar-btn" ui-toggle-class="show" target="#aside-user">
            <i class="icon-user fa-fw"></i>
          </a> -->  



	</div>
	<!-- / buttons -->



	<!-- nabar right -->
	<ul class="nav navbar-nav navbar-right">

		<li><a ng-click="editUser()"><div style="width: 150px">欢迎您: XXXX用户<principal
					property="name"></principal></div></a></li>

    <li><a>
      <div style="width: 150px"><span class="text-info">{{site}}</span>&nbsp;
      <span class="text-warning">{{temperature}}</span> 
      <i class="wi wi-degrees icon text-lg text-warning"></i>  &nbsp;
      <i class="wi {{weather}} icon text-lg text-warning"></i>
      </div>
    </a></li>

		<li class="hidden-xs"><a ui-fullscreen></a></li>
		<!-- 
          <li class="dropdown" dropdown>
            <a href class="dropdown-toggle" dropdown-toggle>
              <i class="icon-bell fa-fw"></i>
              <span class="visible-xs-inline">Notifications</span>
              <span class="badge badge-sm up bg-danger pull-right-xs">2</span>
            </a>
           
            <div class="dropdown-menu w-xl animated fadeInUp">
              <div class="panel bg-white">
                <div class="panel-heading b-light bg-light">
                  <strong>You have <span>2</span> notifications</strong>
                </div>
                <div class="list-group">
                  <a href class="media list-group-item">
                    <span class="pull-left thumb-sm">
                      <img src="views/img/a0.jpg" alt="..." class="img-circle">
                    </span>
                    <span class="media-body block m-b-none">
                      Use awesome animate.css<br>
                      <small class="text-muted">10 minutes ago</small>
                    </span>
                  </a>
                  <a href class="media list-group-item">
                    <span class="media-body block m-b-none">
                      1.0 initial released<br>
                      <small class="text-muted">1 hour ago</small>
                    </span>
                  </a>
                </div>
                <div class="panel-footer text-sm">
                  <a href class="pull-right"><i class="fa fa-cog"></i></a>
                  <a href="#notes" data-toggle="class:show animated fadeInRight">See all the notifications</a>
                </div>
              </div>
            </div>
            
          </li>  -->
		<li class="hidden-xs"><a href="logout">登出</a></li>
	</ul>
	<!-- / navbar right -->

</div>
<!-- / navbar collapse -->
