<div class="bg-light lter b-b wrapper">
	<h1 class="m-n font-thin h3">集中告警</h1>
</div>

<div class="wrapper" ng-controller="Warning1Controller">
	<div class="row m-r-none">
		<div class="col-xs-3">
			<h4>报表条件选择</h4>
		</div>
	</div>

	<div class="row">
		<div class="col col-md-12 ">
			<div class="panel panel-default">
				<div class="panel-heading" ng-click="toggle()" style="font-weight:normal">
					<div class="col-md-12 demand" ng-click="app.setting.Recycle1 = !app.setting.Recycle1" style="padding:0px;margin-bottom:4px;">
						条件查询
						<a href class="pull-right"> 
							<span style="font-size: 25px;" class="fa {{app.setting.Recycle1 ? 'fa-angle-up' : 'fa-angle-down'}}">
						</span>
						</a>
					</div>
				</div>

				<div class="panel-body panel-body1" style="padding: 0px;">
					<div ng-hide="myVar">
						<form role="form">
							<div>
								<section class="col-sm-2">
									<div class="form-group">
										<label>基地：</label> <select class="form-control">
											<option>哈尔滨基地</option>
										</select>
									</div>
								</section>
								<section class="col-sm-2">
									<div class="form-group">
										<label>楼宇：</label> <select class="form-control">
											<option>-所有楼宇-</option>
										</select>
									</div>
								</section>
								<section class="col-sm-2">
									<div class="form-group">
										<label>模块：</label> <select class="form-control">
											<option>-所有模块-</option>
										</select>
									</div>
								</section>
								<section class="col-sm-2">
									<div class="form-group">
										<label>楼层：</label> <select class="form-control">
											<option>-所有楼层-</option>
										</select>
									</div>
								</section>
								<section class="col-sm-2">
									<div class="form-group">
										<label>机房：</label> <select class="form-control">
											<option>-所有机房-</option>
										</select>
									</div>
								</section>
								<section class="col-sm-2">
									<div class="form-group">
										<label>设备类型：</label> <select class="form-control">
											<option>-所有类型-</option>
										</select>
									</div>
								</section>
							</div>
							<div>
								<section class="col-sm-2">
									<div class="form-group">
										<label>设备：</label> <select class="form-control">
											<option>-所有设备-</option>
										</select>
									</div>
								</section>
								<section class="col-sm-2">
									<div class="form-group">
										<label>起始时间：</label>
										<div class="input-group date">
											<input type="text" class="form-control"><span
												class="input-group-addon"><i class="fa fa-calendar"></i></span>
										</div>
									</div>
								</section>
								<section class="col-sm-2">
									<div class="form-group">
										<label>结束时间：</label>
										<div class="input-group date">
											<input type="text" class="form-control"><span
												class="input-group-addon"><i class="fa fa-calendar"></i></span>
										</div>
									</div>
								</section>
								<section class="pull-right m-t-md" style="margin-right: 15px;">
									<button class="btn w-xs btn-default">保存条件</button>
									<button class="btn w-xs btn-default">定时发送</button>
									<button class="btn w-xs btn-primary">提交</button>
								</section>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--    告警综述-->
	<div class="row">
		<div class="col col-md-12 ">
			<div class="panel panel-default">
				<div class="panel-heading">
					<span class="pull-right"> <a><i
							class="fa fa-search report-btn text-info-lter"></i></a> <a><i
							class="fa fa-refresh report-btn text-info-lter"></i></a> <a><i
							class="fa fa-arrows-alt report-btn text-info-lter"></i></a>
					</span>
				</div>
				<div class="panel-body">
					<div class="col-md-2 col-sm-6 warning-box">
						<p class="warning-title">告警汇总</p>
						<p>数量</p>
						<div class="row warning-bo">
							<div class="col-md-8  warning-number">4555</div>
							<div class="col-md-4 arrow-up">
								<div class="up">
									<span class="arrow_warning">&#xe600;</span>
								</div>
								<div class="up-number">245</div>
							</div>
						</div>
					</div>
					<div class="col-md-2 col-sm-6 warning-box">
						<p class="warning-title">一级告警</p>
						<p>数量</p>
						<div class="row warning-bo">
							<div class="col-md-8  warning-number">455</div>
							<div class="col-md-4  arrow-up">
								<div class="up">
									<span class="arrow_warning">&#xe600;</span>
								</div>
								<div class="up-number">245</div>
							</div>
						</div>
					</div>
					<div class="col-md-2 col-sm-6 warning-box">
						<p class="warning-title">二级告警</p>
						<p>数量</p>
						<div class="row warning-bo">
							<div class="col-md-8  warning-number">455</div>
							<div class="col-md-4 arrow-up">
								<div class="up">
									<span class="arrow_warning">&#xe600;</span>
								</div>
								<div class="up-number">245</div>
							</div>
						</div>
					</div>
					<div class="col-md-2 col-sm-6 warning-box">
						<p class="warning-title">未处理告警</p>
						<p>数量</p>
						<div class="row warning-bo">
							<div class="col-md-8  warning-number">455</div>
							<div class="col-md-4 arrow-down">
								<div class="up">
									<span class="arrow_warning ">&#xe602;</span>
								</div>
								<div class="up-number">245</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--    过滤字段-->
	<div class="row">
		<div class="col-md-3">
			<div class="panel panel-default">
				<div class="panel-heading">
					过滤字段
					<!-- <span class="pull-right" style="font-family: iconfont; font-size: 20px;line-height:25px;">&#xe60a;</span> -->
					<a href class="pull-right"
						ng-click="app.setting.Recycle = !app.setting.Recycle"> <span
						style="font-size: 25px;"
						class="fa {{app.setting.Recycle ? 'fa-angle-left' : 'fa-angle-right'}}"></span>
					</a>
				</div>
				<div class="panel-body">
					<div class="input-group">
						<input type="text" class="form-control" placeholder="请输入过滤字段">
						<span class="input-group-btn">
							<button class="btn btn-default" type="button">
								<span class="icon-magnifier"></span>
							</button>
						</span>
					</div>
					<div class="m-b-md">
						<alert ng-repeat="alert in alerts" type="{{alert.type}}"
							close="closeAlert($index)"
							style="padding-left:5px;margin-bottom:0px;">{{alert.msg}}</alert>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-9">
			<div class="panel panel-default">
				<div class="panel-heading">
					<i class="fa fa-table"></i> 实时告警集中 <span class="pull-right">
						<a><i class="fa fa-search report-btn text-info-lter"></i></a> <a><i
							class="fa fa-refresh report-btn text-info-lter"></i></a> <a><i
							class="fa fa-arrows-alt report-btn text-info-lter"></i></a>
					</span>
				</div>
				<div class="panel-body">
					<table id="report" class="table table-striped table-bordered"
						style="table-layout: fixed;">
						<thead>
							<tr class="width-80">
								<th>监控中心</th>
								<th>告警编号</th>
								<th>区域</th>
								<th>局站</th>
								<th>局站类型</th>
								<th>设备</th>
								<th>设备型号</th>
								<th>厂家</th>
								<th>告警量</th>
								<th>告警级别</th>
								<th>发生时间</th>
								<th>告警值</th>
								<th>告警备注</th>
								<th>相关量</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>廊坊DCL动环监控网</td>
								<td>123456B</td>
								<td>DC1机楼</td>
								<td>一层DC1M3模组传输机房</td>
								<td>数据机房</td>
								<td>艾默生MB10G</td>
								<td>艾默生M810GEISU支持1交流屏40模块3直流屏</td>
								<td>艾默生</td>
								<td>通讯状态</td>
								<td>一级</td>
								<td>2016/12/17 2:31:57 AM</td>
								<td>1</td>
								<td>未处理</td>
								<td><button class="btn btn-success">查看</button></td>
							</tr>
							<tr>
								<td>廊坊DCL动环监控网</td>
								<td>123456B</td>
								<td>DC1机楼</td>
								<td>一层DC1M3模组传输机房</td>
								<td>数据机房</td>
								<td>艾默生MB10G</td>
								<td>艾默生M810GEISU支持1交流屏40模块3直流屏</td>
								<td>艾默生</td>
								<td>通讯状态</td>
								<td>一级</td>
								<td>2016/12/17 2:31:57 AM</td>
								<td>1</td>
								<td>未处理</td>
								<td><button class="btn btn-success">查看</button></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>